@page
@model LoginModel

@{
    Layout = "_LayoutOut";
    ViewData["Title"] = "Log in";
}


<div class="row mt-5 mb-5">
    <div class="col-md-6 offset-md-3">
        
        <!-- Default form login -->
        <form class="text-center border border-light p-5" id="account" method="post">
            <h1>@ViewData["Title"]</h1>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <!-- Email -->
            <input type="email" class="form-control mb-4" placeholder="E-mail" asp-for="Input.Email">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <!-- Password -->
            <input type="password" class="form-control mb-4" placeholder="Password" asp-for="Input.Password">
            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" asp-for="Input.RememberMe">
                        <label class="custom-control-label" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                    </div>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </div>
            </div>
            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
            <!-- Register -->
            <p>
                Not a member?
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
            </p>
            <!-- Social login -->
        </form>
        <!-- Default form login -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
