@model object

@{
    ViewBag.Title = "Imports page";
    Layout = "_Layout";
}


<div class="row mt-5 mb-5">
    <div class="col-md-6 offset-md-3">
        <h2>@ViewData["Title"]</h2>

        <form class="md-form mt-5 mb-5">
            <div class="md-form">
                <div class="file-field">
                    <div class="btn btn-primary btn-sm float-right">
                        <span>Choose files</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload your file">
                    </div>
                </div>
            </div>
            <div class="md-form text-center">
                <button class="btn btn-primary btn-sm btn-rounded mt-5" type="submit">Submit form</button>
            </div>
            <div class="md-form">
                <div class="my-2 progress md-progress ">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="my-2 progress md-progress ">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="my-2 progress md-progress ">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="my-2 progress md-progress ">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="my-2 progress md-progress ">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </form>
        <!-- Button trigger modal-->
        <button type="button" class="btn btn-white btn-sm btn-rounded" data-toggle="modal" data-target="#modalPush">Launch modal</button>


    </div>
</div>
<!--Modal: modalPush-->
<div class="modal fade" id="modalPush" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Be always up to date</p>
            </div>

            <!--Body-->
            <div class="modal-body">

                <i class="fas fa-bell fa-4x animated rotateIn mb-4"></i>

                <p>Do you want to receive the push notification about the newest posts?</p>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a href="https://mdbootstrap.com/products/jquery-ui-kit/" class="btn btn-info">Yes</a>
                <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalPush-->
